<!-- Edit Account Template -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Change Password</h3>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
<div class="flash-messages">
        <%= devise_error_messages! %>
      </div>
    </div>
  </div>
<fieldset class="well">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, disabled: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, disabled: true, class: 'form-control' %>
      </div>
    </div>
  </div>
</fieldset>
      <fieldset class="well">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :current_password %>
              <%= f.password_field :current_password, class: 'form-control', required: 'true' %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label "New Password" %>
              <%= f.password_field :password, autofocus: true, :autocomplete => 'off', class: 'form-control', required: 'true' %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label "Confirm New Password" %>
              <%= f.password_field :password_confirmation, class: 'form-control', required: 'true' %>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="row">
        <div class="col-sm-12 authform marg-btn">
          <%= f.submit 'Change Password', :class => 'button' %>
        <% end %>
        </div>
      </div>
</div>

<script>
   $('.flash-messages').addClass('animated slideInDown');

      setTimeout(function(){
         $(".flash-messages").addClass("animated slideOutUp");
     }, 3000);


</script>
