<!-- Edit Account Template -->
<div class="container common-wrap">
  <div class="row">
    <div class="col-sm-12">
      <h3>My Profile</h3>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
<div class="flash-messages">
        <%= devise_error_messages! %>
      </div>
    </div>
  </div>
<fieldset class="well">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :store_name %>
        <%= f.text_field :store_name  , disabled: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, disabled: true, class: 'form-control' %>
      </div>
    </div>
  </div>
</fieldset>
<form>
      <fieldset class="well1">
      <h3>Change Password</h3>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :current_password %>
              <%= f.password_field :current_password, class: 'form-control', required: 'true' %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label "New Password" %>
              <%= f.password_field :password, autofocus: true, :autocomplete => 'off', class: 'form-control', required: 'true', minlength:'6' %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label "Confirm New Password" %>
              <%= f.password_field :password_confirmation, class: 'form-control', required: 'true' %>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-sm-12 authform marg-btn">
          <%= f.submit 'Change Password', :class => 'button' %>
        <% end %>
        </div>
      </div>
       </fieldset>
      </form>
</div>


<script>
var password = document.getElementById("user_password")
  , confirm_password = document.getElementById("user_password_confirmation");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>




<script>
   $('.flash-messages').addClass('animated slideInDown');

      setTimeout(function(){
         $(".flash-messages").addClass("animated slideOutUp");
     }, 3000);
</script>


<script>
(function (exports) {
  function valOrFunction(val, ctx, args) {
      if (typeof val == "function") {
          return val.apply(ctx, args);
      } else {
          return val;
      }
  }

  function InvalidInputHelper(input, options) {
      input.setCustomValidity(valOrFunction(options.defaultText, window, [input]));

      function changeOrInput() {
          if (input.value == "") {
              input.setCustomValidity(valOrFunction(options.emptyText, window, [input]));
          } else {
              input.setCustomValidity("");
          }
      }

      function invalid() {
          if (input.value == "") {
              input.setCustomValidity(valOrFunction(options.emptyText, window, [input]));
          } else {
             input.setCustomValidity(valOrFunction(options.invalidText, window, [input]));
          }
      }

      input.addEventListener("change", changeOrInput);
      input.addEventListener("input", changeOrInput);
      input.addEventListener("invalid", invalid);
  }
  exports.InvalidInputHelper = InvalidInputHelper;
})(window);



InvalidInputHelper(document.getElementById("user_current_password"), {
  defaultText: "Enter your current password",
  emptyText: "Enter your current password",
});

InvalidInputHelper(document.getElementById("user_password"), {
  defaultText: "Enter your new password",
  emptyText: "Enter your new password",
    invalidText: function (input) {
      return 'New password should be atleast 6 characters';
  }
});

// InvalidInputHelper(document.getElementById("user_password_confirmation"), {
//   defaultText: "Re-enter your new password",
//   emptyText: "Re-enter your new password",
// });

// var user_password = document.getElementById("user_password")
//   , user_password_confirmation = document.getElementById("user_password_confirmation");

// function validatePassword(){
//   if(user_password.value != user_password_confirmation.value) {
//     user_password_confirmation.setCustomValidity("Passwords Don't Match");
//   } else {
//     confirm_password.setCustomValidity('');
//   }
// };

// user_password.onchange = validatePassword;
// user_password_confirmation.onkeyup = validatePassword;


</script>
