<div class="container common-wrap">
  <div class="row">
    <div class="col-sm-6">
  <h4><a href="#" class="btn btn-primary">Gift Cards Audit</a></h4>
        <!-- <h4><%= link_to 'Go to Transaction Audits', audits_transactions_path %></h4> -->
    </div>
    <div class="col-sm-6 search-bar">
      <div class="search-bar">
        <%= form_tag(gift_cards_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Gift Card Number", class: 'form-control', maxlength:'16' %>
           <%= submit_tag "Search", class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
<div class="col-sm-12">
  <div class="table-responsive data-tables admin-tables">
<table class="table">
  <tr>
    <th>Gift Card Number</th>
    <th>Balance</th>
    <th>Expiry <%= sortable "expiry", "" %></th>
    <th>Action</th>
  </tr>
  <% if @gift_cards.present? %>
    <% @gift_cards.each do |gift_card| %>
      <tr>
        <%= render partial: 'gift_cards/gift_card', locals: { gift_card: gift_card }%>
      </tr>
    <% end %>
  <% else %>
    <tr><td>No results found</td></tr>
  <% end %>
</table>
<%= render partial: "layouts/modal_window", locals: { modal_id: 'editGiftCard' } %>
<%= paginate @gift_cards %>

</div>
</div>
</div>

</div>



    <h4>Gift Cards Audits</h4>
<%= render "gift_cards/audits" %> 
