<h3>Gift Cards</h3>
<div class="input-group">
  <%= form_tag(gift_cards_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Gift Card", class: 'form-control' %>
    <span class="input-group-btn">
       <%= submit_tag "Search", class: 'btn btn-success' %>
    </span>
  <% end %>
</div>

<table border=1>
  <tr>
    <th>Gift Card Number</th>
    <th>Balance</th>
    <th><%= sortable "expiry", "Expiry" %></th>
    <th>Action</th>
  </tr>
  <% if @gift_cards.present? %>
    <% @gift_cards.each do |gift_card| %>
      <tr>
        <%= render partial: 'gift_cards/gift_card', locals: { gift_card: gift_card }%>
      </tr>
    <% end %>
  <% else %>
    <tr><td>No results found</td></tr>
  <% end %>
</table>
<%= render partial: "layouts/modal_window", locals: { modal_id: 'editGiftCard' } %>
<%= paginate @gift_cards %>
<hr/>

<h3>Gift Cards Audits</h3>
<%= render "gift_cards/audits" %>