<div class="common-wrap container">
<div class="well">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= label_tag(:card_number, "Gift Card Number") %>
        <%= text_field_tag(:card_number, '', class: 'form-control', disabled: true, value: @gift_card.card_number) %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= label_tag(:username, "Customer Name") %>
        <%= text_field_tag(:username, '', class: 'form-control', disabled: true, value: @gift_card.username) %>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= label_tag(:expiry, "Expiration Date") %>
      <%= text_field_tag(:expiry, '', class: 'form-control', disabled: true, value: @gift_card.formatted_expiry) %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= label_tag(:balance, "Gift Card Balance") %>
      <%= text_field_tag(:balance, '', class: 'form-control', disabled: true, value: @gift_card.balance) %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 redeem-btn">
    <%= link_to "Redeem", new_transaction_path(id: encrypt_data(@gift_card.id)),{class: "btn btn-primary", remote: true, 'data-toggle' =>  "modal", 'data-target' => '#redeemModal'} %>
    <%= render partial: "layouts/modal_window", locals: { modal_id: 'redeemModal' } %>
  </div>
</div>
</div>

<h3>Transaction History</h3>
<div class="row">
  <div class="col-sm-12">
    <div class="table-responsive data-tables">
      <table class="table">
        <th>Date</th>
        <th>Invoice Number</th>
        <th>Store oName</th>
        <th>Store Code</th>
        <th>Redeemed</th>
        <th>Balance</th>
        <% @transactions.each do |transaction| %>
          <tr>
            <%= render partial: 'transactions/transaction', locals: { transaction: transaction }%>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

</div>
