<!-- Admin Dashboard -->

<div class="container common-wrap1 admin-dashboard">
  <div class="row">
    <div class="col-sm-12">
      <h1>Insights</h1>
    </div>
  </div>
  <div class="row">
        <div class="col-sm-6">
          <h2 class="text-center"><%= @redeemed_today %> <small>Reedemed Today</small></h2>
          <canvas id="redeemed" width="400" height="250"></canvas>
        <script>

        var ctx = document.getElementById("redeemed");
        var redeemed = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: <%= raw @labels %>,
                datasets: [{
                    data: <%= raw @data %>,
                    backgroundColor: <%= raw @colors %>,
                    borderColor: <%= raw @border_colors %>,
                    borderWidth: 1
                }]
            },
            options: {
              legend: {
                display: false
            },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        </script>
        </div>
      <div class="col-sm-6">
        <h2 class="text-center"><small>Total Redeemed</small></h2>
      <div id="redeemed-circle"></div>
      </div>
  </div>

<div class="row data-insights dash1">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-12 gc_balance">
        <h2 class="text-center"><%= @total_gift_card_balance %> <small>Total Gift Card Balance</small></h2>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-12 active-cards">
        <h2 class="text-center"><%= @active_cards %> <small>Active Gift Cards</small></h2>
      </div>
    </div>
  </div>
</div>

<div class="row data-insights dash2">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-12 redeemed-this-month">
        <h2 class="text-center"><%= @redeemed_this_month %> <small>Redeemed Last 30 Days</small></h2>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center"><%= @expired_cards %> <small>Gift Cards Expired This Month</small></h2>
      </div>
    </div>
  </div>
</div>

<div class="last-section download-report">
<div class="row">
  <div class="col-sm-12">
    <h3>Reports</h3>
  </div>
</div>
</div>

      <%= form_tag(report_transactions_path, :method => "get", id: "export-form") do %>
    <%= text_field_tag :start_date, '', placeholder: "Start Date", class: 'form-control', id: "start_date",required: "true" %>
    <%= text_field_tag :end_date, '', placeholder: "End Date", class: 'form-control', id: "end_date"%>
       <%= submit_tag "Export", class: 'btn btn-success', id: 'report_btn' %>
  <% end %>


</div> <!-- /Container -->

<script>
    var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!

var yyyy = today.getFullYear();
if(dd<10){
    dd='0'+dd;
}
if(mm<10){
    mm='0'+mm;
}
var today = dd+'/'+mm+'/'+yyyy;
document.getElementById("start_date").value = today;
document.getElementById("end_date").value = today;
$('#report_btn').removeAttr('data-disable-with');
</script>

<script>
  $('#start_date, #end_date').prop('required', true);
  $("#start_date, #end_date").keydown(function (event) {
    event.preventDefault();
});

</script>
     <script>
  $(document).ready(function(){
    $("#start_date").datepicker({
    maxDate: 0,
    dateFormat: "dd-mm-yy",
        onSelect: function(selected) {
          $("#end_date").datepicker("option","minDate", selected)
        }
    });
    $("#end_date").datepicker({
    maxDate: 0,
    dateFormat: "dd-mm-yy",
        onSelect: function(selected) {
           $("#start_date").datepicker("option","maxDate", selected)
        }
    });
});
  </script>

<script>
$( document ).ready(function() { // 6,32 5,38 2,34
  $("#redeemed-circle").circliful({
      animation: 1,
      animationStep: 5,
      foregroundBorderWidth: 5,
      backgroundBorderWidth: 5,
      percent: <%= (@redeemed_percentage.nan?)? 0 : @redeemed_percentage.to_i %>,
      textSize: 10,
      textStyle: 'font-size: 10px;',
      textColor: '#000000',
      fontWeight: 300,
      multiPercentage: 1,
      percentages: [10, 20, 30],
      fontColor: '#E41C39',
      foregroundColor: '#E41C39',
      percentageY: 105
  });
});
</script>

<script>
window.sr = ScrollReveal();
sr.reveal('.dash1', {
  origin: 'bottom',
  distance: '200px',
  delay: '100',
  duration: '1500',
  viewFactor: 1,
});
sr.reveal('.dash2', {
  origin: 'bottom',
  distance: '200px',
  delay: '500',
  duration: '1500',
  viewFactor: 1,
});
</script>

 <div class="input-group">

</div>
<div class="modal fade " id="reportModel" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
</div>



