<h3>DashBoard</h3>
<div>ACTIVE CARDS: <b><%= @active_cards %></b></div>

<div>REDEEMED TODAY: <b><%= @redeemed_today %></b></div>
<div>Total Gift Card Balance: <b><%= @total_gift_card_balance %></b></div>
<!-- <div>Gift Cards Expired this month: <b><%#= @will_expire_cards %></b></div> -->
<!-- <div>Redeemed this month: <b><%#= @redeemed_this_month %></b></div> -->
<div>Monthly Summary</div>
<table border="1">
  <tr>
    <th>Date</th>
    <th>Redeemed Amount</th>
  </tr>
<% @monthly_summary.each do |k,v| %>
  <tr>
    <td><%= k %></td>
    <td><%= v.to_i %></td>
  </tr>
<% end %>
</table>