<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Redeem Amount</h4>
    </div>
    <div class="modal-body">
      <%= form_for(@transaction, html: {method: :post}, remote: true) do |f|  %>
        <div id="error_explanation"></div>
<!-- Populate Data -->
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= label_tag(:card_number, "Gift Card Number") %>
      <%= text_field_tag(:card_number, '', class: 'form-control', disabled: true, value: @gift_card.card_number) %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= label_tag(:expiry, "Expiration Date") %>
      <%= text_field_tag(:expiry, '', class: 'form-control', disabled: true, value: @gift_card.formatted_expiry) %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= label_tag(:store_code, "Store Id") %>
      <%= text_field_tag(:store_code, '', class: 'form-control', disabled: true, value: current_user.store_code) %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= label_tag(:balance, "Gift Card Balance") %>
      <%= text_field_tag(:balance, '', class: 'form-control', disabled: true, value: @gift_card.balance) %>
      <%= f.hidden_field :gift_card_id, value: @gift_card.id %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.text_field :invoice_number, placeholder: 'Invoice Number', :autofocus => true, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.text_field :redeemed_value, placeholder: 'Amount', class: 'form-control', required: true %>
    </div>
  </div>
</div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      <%= f.submit "Submit", class: "btn btn-success" %>
    </div>

  </div><!-- / Modal Body -->
    <% end %>
  </div>
</div>
