<td><%= transaction.created_at %></td>
<td><%= transaction.invoice_number %></td>
<td><%= transaction.user.store_name %></td>
<td><%= transaction.user.store_code %></td>
<td><%= transaction.redeemed_value %></td>
<td><%= transaction.current_balance %></td>