<!-- Transactions Template -->

<div class="container common-wrap">
<div class="row">
  <div class="col-sm-6">
  <%= link_to "Go to Transaction Audits", audits_transactions_path, class: 'anchor-title btn btn-primary' %>
  </div>
  <div class="col-sm-6 search-bar">
    <div class="search-bar">
      <%= form_tag(transactions_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Store Code/Gift Card/Invoice Number", class: 'form-control' %>
           <%= submit_tag "Search", class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
      <div class="table-responsive data-tables admin-tables">
    <table class="table">
        <% if @transactions.present? %>
      <tr>
        <th class="date-filter">Date <%= sortable "created_at", "" %></th>
        <th>Invoice Number</th>
        <th>Store Code</th>
        <th>Store Name</th>
        <th>Redeemed</th>
        <th>Balance</th>
        <th>Action</th>
      </tr>
      <% end %>
      <% if @transactions.present? %>
        <% @transactions.each do |transaction| %>
          <tr>
    <%= render partial: 'transactions/transaction', locals: { transaction: transaction }%>
            <td>
              <%= link_to "Edit", edit_transaction_path({id:transaction, page: params[:page], search: params[:search], direction: params[:direction]}),{class: "btn btn-primary", remote: true, 'data-toggle' =>  "modal", 'data-target' => '#editTransaction'} %>
            </td>
          </tr>
        <% end %>
        <% else %>
          <tr><th> No results found</th></tr>
          <tr>
            <td class="no-results">
              <%= link_to "View all transactions", transactions_path, class: 'btn btn-primary' %>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
    <%= render partial: "layouts/modal_window", locals: { modal_id: 'editTransaction' } %>
    <%= paginate @transactions %>

  </div>
</div>

</div> <!-- Container -->
